@page "/members"
@inject HttpClient Http

<h1>Member Registry</h1>

@if (members == null)
{
    <p><em>Loading....</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Role</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in members)
            {
                <tr>
                    <td>@member.lastName, @member.firstName</td>
                    <td>@member.dob</td>
                    <td>@member.role</td>
                    <td>@member.group</td>
                </tr>
            }
        </tbody>
</table>
}



@code {
    private Member[] members;

    protected override async Task OnInitializedAsync()
    {
        members = await Http.GetFromJsonAsync<Member[]>("sample-data/members.json");
    }

    public class Member
    {
        public string firstName { get; set; }
        public string lastName { get; set; }
        public DateTime dob { get; set; }
        public string role { get; set; }
        public string group { get; set; }

    }
}
